<h1>
  Welcome to my cloud API project! Test Album/Song API:
</h1>
<p>
 Album GET: select sort and page or a single id
</p>
Sort:
<select class="from-control" [(ngModel)]="sort">
<option value="name">name</option>
<option value="releaseYear">releaseYear</option>
</select>
Page:
<input [(ngModel)]="page"/>
Id: 
<input [(ngModel)]="id"/>
<button (click)="GetAlbums()">Get Albums</button>
<button [routerLink]="['/imgur']">Test Imgur rest api</button>
<tbody>
<tr *ngFor="let item of albumData">
  <tbody>
   {{item | json}}
  </tbody>
</tr>
{{albumObject | json}}
</tbody>
<p>
  Album POST:
</p>
<input [(ngModel)]="name"/>
<input [(ngModel)]="releaseYear"/>
<input [(ngModel)]="artist"/>
<button (click)="PostAlbum()">Post Album</button>
{{albumPostResponse | json}}
<p>
  album DELETE:
</p>
Id:
<input [(ngModel)]="_id"/>
<button (click)="DeleteAlbum()">Delete Album</button>
<p>
  album PUT:
 </p> 
 <button (click)="UpdateAlbum()">Update Album</button>